.form {
  margin-bottom: 20px;
}
.createBtn {
  margin-bottom: 20px;
  button {
    margin-right: 10px;
  }
}
.clickBtn {
  cursor: pointer;
  color: #1890ff;
  margin-right: 8px;
}
.column1 {
  width: 19%;
  float: left;
  margin-right: 1%;
  background: #fff;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 16px;
}
.column2 {
  width: 80%;
  float: left;
  background: #fff;
  padding: 16px;
}
.search {
  margin-bottom: 16px;
}
.input {
  width: 70%;
  margin-right: 16px;
}
.tree {
  margin-top: 16px;
}
