.form {
  h3 {
    font-weight: bold;
    span {
      display: inline-block;
      margin: 0 10px 0 5px;
      font-weight: normal;
    }
  }
}
.backBtn {
  text-align: right;
}
.linkBtn {
  color: #1890ff;
  cursor: pointer;
}
.table {
  :global {
    .ant-table-thead {
      th {
        height: 54px !important;
        padding: 0 16px;
      }
    }
    .ant-form-item {
      margin-bottom: 0 !important;
      height: 39px;
    }
    .has-error {
      margin-top: -4px;
    }
  }
}
