.input {
  display: inline-block;
  margin-right: 16px;
  width: 120px !important;
}
.picker {
  display: inline-block;
  margin-right: 16px;
  width: 220px !important;
}
.modal {
  :global {
    .ant-modal-header {
      background: #eee;
    }
  }
}
.disableEdit{
  color:#ddd
}
.noramlEdit{
  color:#007ACC;
  cursor:pointer;
}
